/* =======================================================
   PHASE 2A
   PREMIUM TOP BAR
=======================================================*/

.topbar {
    background: #16283d;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 22px;
    padding: 28px 34px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo-box {
    width: 82px;
    height: 82px;
    border-radius: 20px;
    background: #203755;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .25);
}

.main-title {
    font-size: 46px;
    font-weight: 800;
    color: white;
    line-height: 1.15;
}

.sub-title {
    margin-top: 10px;
    color: #b7c7d9;
    font-size: 22px;
    font-weight: 400;
}

.info-card {
    background: #1b314b;
    border-radius: 18px;
    padding: 18px;
    height: 135px;
    border: 1px solid rgba(255, 255, 255, .06);
    transition: .25s;
}

.info-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, .30);
}

.info-label {
    color: #9eb6cf;
    font-size: 16px;
    margin-bottom: 16px;
}

.info-value {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.info-small {
    margin-top: 12px;
    color: #58d68d;
    font-size: 17px;
}

.live-card {
    height: 135px;
    background: linear-gradient(135deg, #0d8f50, #28b463);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    color: white;
    box-shadow: 0 8px 22px rgba(0, 0, 0, .28);
}

.stSelectbox>div>div {
    background: #1d2433 !important;
    border-radius: 16px !important;
    min-height: 64px !important;
    border: 1px solid rgba(255, 255, 255, .08) !important;
}

.stSelectbox label {
    display: none;
}

hr {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
    border-color: rgba(255, 255, 255, .08);
}