/* ===== GENERAL ===== */

html,
body,
[class*="css"] {
    background: #0b1726;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
}

.block-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 95%;
}

/* ===== HEADER ===== */

.dashboard-header {

    background: linear-gradient(135deg, #16283d, #102234);

    border-radius: 22px;

    padding: 30px;

    margin-bottom: 30px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, .35);
}

.dashboard-title {

    font-size: 46px;

    font-weight: 700;

    color: white;

    margin-bottom: 8px;
}

.dashboard-subtitle {

    font-size: 20px;

    color: #b8c7d9;
}

/* ===== SECTION ===== */

.section-title {

    font-size: 34px;

    font-weight: 700;

    color: white;

    margin-top: 20px;

    margin-bottom: 10px;
}

.section-description {

    color: #9eb0c5;

    font-size: 18px;

    margin-bottom: 25px;
}

/* ===== KPI CARD ===== */

.kpi-card {

    background: #14263d;

    border-radius: 20px;

    padding: 25px;

    text-align: center;

    border: 1px solid rgba(255, 255, 255, .08);

    transition: .3s;

    min-height: 200px;
}

.kpi-card:hover {

    transform: translateY(-6px);

    box-shadow: 0 10px 25px rgba(0, 0, 0, .4);

    border: 1px solid #3fa9f5;
}

.metric-icon {

    font-size: 42px;

    margin-bottom: 18px;
}

.card-subtitle {

    color: #9eb0c5;

    font-size: 18px;

    margin-bottom: 12px;
}

.kpi-card h2 {

    color: white;

    font-size: 48px;

    margin: 0;
}

/* ===== POLLUTANT ===== */

.pollutant-box {

    background: #14263d;

    border-radius: 18px;

    padding: 20px;

    margin-bottom: 18px;

    border: 1px solid rgba(255, 255, 255, .08);

    transition: .3s;
}

.pollutant-box:hover {

    border-color: #4db8ff;

    transform: translateY(-4px);
}

.pollutant-box b {

    color: #b8c7d9;

    font-size: 18px;
}

.pollutant-box h3 {

    color: white;

    font-size: 34px;

    margin-top: 15px;
}

/* ===== METRIC ===== */

[data-testid="stMetric"] {

    background: #14263d;

    border-radius: 18px;

    padding: 18px;

    border: 1px solid rgba(255, 255, 255, .08);
}

/* ===== PLOTLY ===== */

.js-plotly-plot {

    border-radius: 20px;

    overflow: hidden;
}

/* ===== BUTTON ===== */

.stButton>button {

    background: #1f6feb;

    color: white;

    border: none;

    border-radius: 12px;

    padding: 12px 25px;

    transition: .3s;
}

.stButton>button:hover {

    background: #2f81f7;
}

/* ===== ALERT ===== */

.stAlert {

    border-radius: 16px;
}

/* ===== ANIMATION ===== */

.fade-in {

    animation: fadeIn .7s ease;
}

@keyframes fadeIn {

    from {

        opacity: 0;

        transform: translateY(12px);
    }

    to {

        opacity: 1;

        transform: translateY(0);
    }
}